<div class="nav-container">
    <div class="navbar">
        <a href="#" class="logo">Travelist</a>
        <div class="right-links">
            <ul>
                <li>
                    <a href="#" class="log-in">LOG IN</a>
                </li>
                <li>
                    <a href="#" class="sign-up">SIGN UP</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="cover">
  <div class="content">
    <h1>Design and organize  your own  travel wish list</h1>
    <a href="#" class="button button-primary elevation-4 get-started">Get Started</a>
  </div>
</div>


<section class="signup_mask">
    <div class="modal-overlay"></div>
    <div class="mask_content">

        <div class="title">
            SIGN UP
            <div class="close">
                <a href="#">
                    <i class="material-icons">close</i>
                </a>
            </div>
        </div>


        <%= form_for(:user, url: registration_path(:user)) do |f| %>
            <%= f.text_field :name, :placeholder => "Full Name", autofocus: true%>

            <%= f.email_field :email, :placeholder => "Email Address"%>

            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %>
            <%= f.password_field :password,  :placeholder => "Password", autocomplete: "off" %>

            <%= f.submit "Create Account", class: 'button button-primary elevation-1' %>

        <% end %>
    </div>
</section>

<section class="login_mask">
    <div class="modal-overlay"></div>
    <div class="mask_content">

        <div class="title">
            LOG IN
            <div class="close">
                <a href="#">
                    <i class="material-icons">close</i>
                </a>
            </div>
        </div>

        <%= form_for(:user, :url => session_path(:user)) do |f| %>
          <%= f.email_field :email, :placeholder => "Email Address" %>
          <%= f.password_field :password, :placeholder => "Password" %>
          <%= f.submit 'Log in', class: 'button button-primary elevation-1' %>
<!--          <%= link_to "Forgot your password?", new_password_path(:user) %> -->
        <% end %>
    </div>
</section>

<script>

$( document ).ready(function() {

    $(".get-started, .sign-up").on('click', function(){
        $(".signup_mask").css('display','block');
    });

    $(".modal-overlay, .close").on('click', function(){
        $(".signup_mask").css('display','none');
    });

    $(".log-in").on('click', function(){
        $(".login_mask").css('display','block');
    });

    $(".modal-overlay, .close").on('click', function(){
        $(".login_mask").css('display','none');
    });

});

</script>
