<div class="nav-container">
    <div class="navbar">
        <a href="#" class="logo">Travelist</a>
        <div class="right-links">
            <ul>
                <li>
                    <a href="#" class="log-in">LOG IN</a>
                </li>
                <li>
                    <a href="#" class="sign-up">SIGN UP</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="cover">
  <div class="content">
    <h1>Design and organize  your own  travel wish list</h1>
    <a href="#" class="button button-primary get-started">Get Started</a>
  </div>
</div>


<section class="signup_mask">
    <div class="modal-overlay"></div>
    <div class="mask_content">
        <%= form_for(:user, url: registration_path(:user)) do |f| %>
          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true %>
          </div>

          <div class="field">
            <%= f.label :password %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "off" %>
          </div>

          <div class="field">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "off" %>
          </div>

          <div class="actions">
            <%= f.submit "Sign up" %>
          </div>
        <% end %>
    </div>
</section>

<section class="login_mask">
    <div class="modal-overlay"></div>
    <div class="mask_content">
        <%= form_for(:user, :url => session_path(:user)) do |f| %>
          <%= f.text_field :email %>
          <%= f.password_field :password %>
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
          <%= f.submit 'Log in' %>
          <%= link_to "Forgot your password?", new_password_path(:user) %>
        <% end %>
    </div>
</section>

<script>

$( document ).ready(function() {

    $(".get-started, .sign-up").on('click', function(){
        $(".signup_mask").css('display','block');
    });

    $(".modal-overlay").on('click', function(){
        $(".signup_mask").css('display','none');
    });

    $(".log-in").on('click', function(){
        $(".login_mask").css('display','block');
    });

    $(".modal-overlay").on('click', function(){
        $(".login_mask").css('display','none');
    });

});

</script>
