<div class="lists-scroll">
    <ul>
        <% @destinations.each do |destination|%>
            <li <%= "class='first'".html_safe if destination.position==@destinations.size%>>
                <figure>
                    <img src="<%=destination.image_url%>" width="280" height="280">
                    <div class="shadow_mask"></div>
                    <figcaption><span><%="#{destination.position}."%></span><%="#{destination.name.camelize}"%></figcaption>
                    <a data-jq-dropdown="#jq-dropdown-<%="#{destination.id}"%>" class="more_icon" href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="3" viewBox="0 0 15 3">
                            <title>dots_icon</title>
                            <path d="M1.5 3C2.328 3 3 2.328 3 1.5S2.328 0 1.5 0 0 .672 0 1.5.672 3 1.5 3zm6 0C8.328 3 9 2.328 9 1.5S8.328 0 7.5 0 6 .672 6 1.5 6.672 3 7.5 3zm6 0c.828 0 1.5-.672 1.5-1.5S14.328 0 13.5 0 12 .672 12 1.5 12.672 3 13.5 3z" fill="#FFF" fill-rule="evenodd" />
                        </svg>
                    </a>
                </figure>
                <div id="jq-dropdown-<%="#{destination.id}"%>" class="jq-dropdown jq-dropdown-tip">
                    <ul class="jq-dropdown-menu">
                        <li>
                            <a href="#">Mark as Visited</a>
                        </li>
                        <li>
                            <%= link_to "Delete", destination, method: :delete %>
                        </li>
                    </ul>
                </div>
            </li>
        <%end%>
    </ul>

</div>
<% if @destinations.empty? %>
    <div id="empty_state">
        <%=image_tag "empty_state2@2x.png", width:"250", height:"160", alt:"empty state"%>
        <p>You haven’t added anything yet</p>
        <button id="search_label" class="button button-primary elevation-1">ADD NEW PLACE</button>
    </div>
<%end%>
 