<%= form_for(@user, url: registration_path(@user), html: { method: :put }) do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, autofocus: true %>
  </div>
  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>

  <div class="field">
    <%= f.label :password, "New Password" %>
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>


  <div class="actions">
    <%= f.submit "Save Changes", class: 'button button-primary elevation-1' %>
  </div>
<% end %>