
<div class="sidebar">
	
    <%=form_for(@destination) do |f|%>

        <div class="search_container">
            
            <%= label_tag(:destination_name, "search_icon") do%>
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14">
                    <title>search_icon</title>
                    <path d="M9.223 10.482C8.263 11.185 7.08 11.6 5.8 11.6 2.597 11.6 0 9.003 0 5.8S2.597 0 5.8 0s5.8 2.597 5.8 5.8c0 1.28-.415 2.464-1.118 3.423l3.136 3.136c.35.35.355.913.005 1.263-.348.348-.912.347-1.264-.005l-3.137-3.136zM5.8 10.255c2.458 0 4.45-1.992 4.45-4.45s-1.992-4.45-4.45-4.45-4.45 1.992-4.45 4.45 1.992 4.45 4.45 4.45z" fill="#B7B7B7" fill-rule="evenodd" />
                </svg>
            <%end%>
            <%= f.search_field :name , placeholder: 'Where do you want to go?'%>

        </div>
        <%= f.submit class: 'hidden'%>
    <%end%>
    <ul>
        <% @destinations.each do |destination|%>
            <li <%= "class='first'".html_safe if destination.position==1%>>
                <figure>
                    <img src="<%=destination.image_url%>" width="280" height="280">
                    <div class="shadow_mask"></div>
                    <figcaption><span><%="#{destination.position}."%></span><%="#{destination.name.camelize}"%></figcaption>
                    <a data-jq-dropdown="#jq-dropdown-<%="#{destination.id}"%>" class="more_icon" href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="3" viewBox="0 0 15 3">
                            <title>dots_icon</title>
                            <path d="M1.5 3C2.328 3 3 2.328 3 1.5S2.328 0 1.5 0 0 .672 0 1.5.672 3 1.5 3zm6 0C8.328 3 9 2.328 9 1.5S8.328 0 7.5 0 6 .672 6 1.5 6.672 3 7.5 3zm6 0c.828 0 1.5-.672 1.5-1.5S14.328 0 13.5 0 12 .672 12 1.5 12.672 3 13.5 3z" fill="#FFF" fill-rule="evenodd" />
                        </svg>
                    </a>
                </figure>
                <div id="jq-dropdown-<%="#{destination.id}"%>" class="jq-dropdown jq-dropdown-tip">
                    <ul class="jq-dropdown-menu">
                        <li>
                            <%= link_to "Delete", destination, method: :delete %>
                        </li>
                    </ul>
                </div>
            </li>
        <%end%>
    </ul>
    <% if @destinations.empty? %>
        <div id="empty_state">
            <%=image_tag "empty_state2@2x.png", width:"250", height:"180", alt:"empty state"%>
            <p>You haven’t added anything yet</p>
            <button id="search_label">ADD NEW PLACE</button>
        </div>
    <%end%>
</div>

<div id='map'></div>






<!-- Scripts -->

<script>

L.mapbox.accessToken = 'pk.eyJ1Ijoic2FkaHU4OSIsImEiOiJjaWl4dzZic3cwMDF5dWRsd3BnMTgzaHE3In0.uT95amtQp81LBXzcUkADng';
var map = L.mapbox.map('map', 'mapbox.streets')
    .setView([38.91338, -77.03236], 2);

<% @destinations.each do |destination| %>
    L.mapbox.featureLayer(<%= to_geojson destination %>).addTo(map);
<%end%>

</script>

<script>

$( document ).ready(function() {
    $("#search_label").on('click', function(){
        $("#destination_name").focus();
    });
});
</script>
