
<div class="sidebar">
	
    <%=form_for(@destination) do |f|%>

        <div class="search_container">
            
            <%= label_tag(:destination_name, "search_icon") do%>
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14">
                    <title>search_icon</title>
                    <path d="M9.223 10.482C8.263 11.185 7.08 11.6 5.8 11.6 2.597 11.6 0 9.003 0 5.8S2.597 0 5.8 0s5.8 2.597 5.8 5.8c0 1.28-.415 2.464-1.118 3.423l3.136 3.136c.35.35.355.913.005 1.263-.348.348-.912.347-1.264-.005l-3.137-3.136zM5.8 10.255c2.458 0 4.45-1.992 4.45-4.45s-1.992-4.45-4.45-4.45-4.45 1.992-4.45 4.45 1.992 4.45 4.45 4.45z" fill="#B7B7B7" fill-rule="evenodd" />
                </svg>
            <%end%>
            <%= f.search_field :name , placeholder: 'Where do you want to go?'%>

        </div>
        <%= f.submit class: 'hidden'%>
    <%end%>
    <ul>
        <% @destinations.each do |destination|%>
            <li><%=destination.name.camelize%></li>
        <%end%>
    </ul>
</div>

<div id='map'></div>







<!-- Scripts -->

<script>

L.mapbox.accessToken = 'pk.eyJ1Ijoic2FkaHU4OSIsImEiOiJjaWl4dzZic3cwMDF5dWRsd3BnMTgzaHE3In0.uT95amtQp81LBXzcUkADng';
var map = L.mapbox.map('map', 'mapbox.streets')
    .setView([38.91338, -77.03236], 2);

<% @destinations.each do |destination| %>
    L.mapbox.featureLayer(<%= to_geojson destination %>).addTo(map);
<%end%>

</script>
